@{
    ViewData["Title"] = "Trang chủ";
}

<div>
    <div class="image-container">
        <img src="../image/background.jpg" alt="Background" />
    </div>
    <style>
        .image-container img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <div class="container d-flex justify-content-center">
        <div class="">
            Cái gì đó
        </div>
        <div style="width: 50px;"></div>
        <div class="">
            Cái gì đó
        </div>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about building Web apps with ASP.NET Core.</p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about building Web apps with ASP.NET Core.</p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about building Web apps with ASP.NET Core.</p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about building Web apps with ASP.NET Core.</p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about building Web apps with ASP.NET Core.</p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about building Web apps with ASP.NET Core.</p>
    </div>
</div>
